{# If AJAX: Dont send full site #}
{% extends app.request.xmlHttpRequest
? 'TerraGanaAppBundle::ajax-base.html.twig'
: 'TerraGanaAppBundle::base.html.twig'%}

{% block body %}
    <div class="container">
        <div class="alert alert-info" role="alert">
            This website is still under construction.
        </div>

        <!-- round charts -->
        <div class="card card-block">
            <div class="row">
                <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell col-xs-12 col-sm-6 col-md-3">
                    <use xlink:href="#piechart" mask="url(#piemask)"/>
                    <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82
                        <tspan font-size="0.2" dy="-0.07">%</tspan>
                    </text>
                </svg>
                <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell col-xs-12 col-sm-6 col-md-3">
                    <use xlink:href="#piechart" mask="url(#piemask)"/>
                    <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82
                        <tspan dy="-0.07" font-size="0.2">%</tspan>
                    </text>
                </svg>
            </div>
        </div>


        <div class="row">
            <div class="col-md-8">
                <!-- line charts-->
                <div class="card card-block">
                    <div class="demo-graphs">
                        <svg fill="currentColor" viewBox="0 0 500 250" class="demo-graph">
                            <use xlink:href="#chart"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="col-md-4 demo-cards">

                <!-- Updates card using header bg image -->
                <div class="demo-updates card">
                    <div class="card-header">
                        <h2 class="card-title">Updates</h2>
                    </div>

                    <div class="card-block">
                        <p class="card-text">Non dolore elit adipisicing ea reprehenderit consectetur culpa.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn">Read More</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
